<nav class="navbar">
  <div class="logo-circle">
    <img src="assets/rsDev.jpg" alt="RS Dev Logo" class="logo-img">
    <span>&trade;</span>
    <!-- SVG for circular navigation -->
    <svg viewBox="0 0 200 200" class="circle-text">
      
      <defs>
  <!-- Top-right quarter -->
  <path id="pathHome" d="M 100,10 A 95,95 0 0,1 190,110"/>
  <!-- Bottom-right quarter -->
  <path id="pathProjects" d="M 195,110 A 95,95 0 0,1 110,200"/>
  <!-- Bottom-left quarter -->
  <path id="pathAbout" d="M 100,200 A 95,95 0 0,1 5,100" />
  <!-- Top-left quarter -->
  <path id="pathContact" d="M 10,100 A 95,95 0 0,1 100,10"/>
</defs>


      <text font-size="14" fill="#fff">
        <textPath xlink:href="#pathHome" startOffset="30%">
          <a routerLink="/home">Home</a>
        </textPath>
      </text>

      <text font-size="14" fill="#fff" rotate="180" >
        <textPath xlink:href="#pathAbout" startOffset="30%">
          <tspan><a routerLink="/about">tuobA</a></tspan>
        </textPath>
      </text>

      <text font-size="14" fill="#fff " rotate="180"  >
        <textPath xlink:href="#pathProjects" startOffset="30%" >
          <a routerLink="/projects" >stcejorP</a>
        </textPath>
      </text>

      <text  font-size="14" fill="#fff">
        <textPath xlink:href="#pathContact" startOffset="30%" >
          <a routerLink="/contact">Contact</a>
        </textPath>
      </text>
    </svg>
  </div>
</nav>

<router-outlet></router-outlet>
