<section class="hero">
  <div class="hero-content">
    <img src="../../../assets/projectImgs/20250926_152111.jpg" style="height: 40vh; border-radius: 10%;"alt="">
    <h1>Hi, I'm Casey Brown 👋</h1>
    <h2>Frontend Developer & Creative Builder</h2>
    <p>I create sleek, modern web apps with Angular, Firebase, and a touch of creativity.</p>
    
    <div class="hero-buttons">
      <a routerLink="/projects" class="btn">View My Projects</a>
      <a routerLink="/contact" class="btn btn-outline">Contact Me</a>
    </div>
  </div>
</section>
